@model TeethCabinet.Models.RDV

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RDV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateHeureRdv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateHeureRdv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personnel.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personnel.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RdvID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
